#Loading
{
	display: block;
	background-color:white;
	top:0px;
	left:0px;
	margin: 0px;
	width:100%;
	height:100%;
	opacity:0.90;
	filter:alpha(opacity=90);
	position: fixed;
	z-index:70;
}
#Spinner
{
	display: block;
	top:0px;
	width:45px;
	left:0%;
	right:0%;
	top: 250px;
	margin: 0 auto;
	position: absolute;
	z-index:100;
}
#Container
{
	width: 70%;
	min-height: 90%;
	min-width: 450px;
	margin: 20px auto;
	position: relative;
}


/*----------Header css----------*/
#Header
{
	height: 136px;
}
#Header-Left
{
	height:136px;
	width:30%;
	float:left;
}
#Header-Right
{
	height:136px;
	width:70%;
	float:right;
}
.Header-img
{
	width:70%;
	min-width: 300px;
	max-height: 150px;
	float: right;
}
#ErrorMSG
{
	width: 30%;
	height: 80px;
	margin: 20px 500px 20px 20px; 
	padding:0px; 
	background-color: none; 
	position:absolute;
	
}


/*----------Menu css----------*/
#Menu
{
	height: 44px;
}
.side-by-side
{
	padding: 8px;
}
.side-by-side li
{
	display: inline;
	margin: 0px 0px 0px 15%;
}

#DivLoged
{
	display:none;
}
#DivNotLoged
{
	display:block;
}



/*----------NotLoged css----------*/


#RegisterForm
{
	display: none;
	width:250px;
	height:auto;
	left:5%;
	top:160px;
	position:absolute;
}

#LoginForm
{
	display: none;
	width:290px;
	height:auto;
	left:25%;
	top:160px;
	position:absolute;
}

.input-grey input
{
	color: grey;
}
#submitLogin
{
	color: black;
}
#submitRegister
{
	color: black;
}


/*----------Loged css----------*/
#MyBusinessForm
{
	display: none;
	top: 20%;
	width: 460px;
	left:0%;
	right:0%;
	min-width: 450px;
	margin: 0 auto;
	position: absolute;
	z-index:100;
}
.right
{
	text-align:right;
	font-size:x-large;
}
#BusinessType
{
	display: block;
	float: left;
}
#BusinessTypeNew
{
	display: none;
	float: left;
}
#ImportIMG
{
	float:left;
}

#BusinessTransparent
{
	display: none;
	background-color:black;
	top:0px;
	left:0px;
	margin: 0px;
	width:100%;
	height:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	position: fixed;
	z-index:70;
}



/*----------Image css----------*/
#PreviewImage
{
	display: none;
	top: 20%;
	width: 460px;
	left:0%;
	right:0%;
	min-width: 450px;
	margin: 0 auto;
	position: absolute;
	z-index:100;
}
#Preview
{
	top: 10%;
	bottom:90%;
	width: 460px;
	max-height:70%;
	left:0%;
	right:0%;
	min-width: 450px;
	margin: 0 auto;
}
#DeleteIMG
{
	bottom: -30px;
	right: 10px;
	position: absolute;
}
#IMGThumbnails
{
	display: none;
	top: 0px; 
	left: 0px;
	margin: 0px;
	position: fixed;
	z-index: 100;
}

/*----------Main css----------*/
#Main
{
	padding: 10px 30px 20px 30px;
	min-height: 300px;
}
#Search
{
	width: 340px;
	margin: 120px auto 0px;
}
#SearchButton
{
	float: right;
}

.ResultBusiness
{
	margin: 0 auto;
	height: 100px;
	padding: 0px;
}
#SearchResult img:hover
{
	color: red;
	opacity: 1;
	filter:alpha(opacity=100);
	cursor: pointer;

}
#SearchResult h3
{
	display: inline;
}
#SearchResult img
{
	height: 90px;
	float: left;
	max-width: 300px;
	opacity: 0.9;
	filter:alpha(opacity=90);
	
	float: left;
	margin: 0px 20px 0px 0px;
}

#SearchType
{
	display: none;
}
#PreviewBusiness
{
	display: none;
	z-index:100;
	top:5%;
	left:10%;
	right:10%;
	width:70%;
	position: absolute;
}
#PreviewBusiness a
{
	color: orange;
}
#PreviewBusiness img
{
	width: 70%;
}
#PreviewBusiness h2, h3
{
	display: inline;
}


/*----------Footer css----------*/
#Footer
{
	width: 100%;
	bottom:0;
}
.Footer-Left
{
	float: left;
	padding: 8px;

}

.Footer-Right
{
	float: right;
	padding: 8px;
}
.Footer-Center
{
	width:80px;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
}

#AboutOurSelfs
{
	display: none;
	top:0px;
	width:450px;
	left:0%;
	right:0%;
	margin: 0 auto;
	position: absolute;
	z-index:100;
}
#AboutOurSelfs img
{
	width: 200px;
	float: left;
}
#AboutOurSelfs h1
{
	text-align: center;
	color:red;
}

#AboutOurSelfs h2, h4
{
	color:white;
}
.person
{
	width: 460px;
	height: 230px;
	margin: 0 auto;
}

/*----------General css----------*/
ul
{
	margin: 0px;
	padding: 0px;
}


legend
{
	text-align: right;
}
img
{
	border: 0;
}
.center
{
	text-align: center;
}


