body
{ 
	background: #e8e1d1 url(Images/bg-body.jpg) repeat-x center top; 
	height: 600px;
}

fieldset 
{
	background-color : #dad0bd;
}


#Main
{
	background-color: #F6EFE5;

}
#Footer
{
	height: 52px;
	margin: 20px auto 0;
}
#FooterIMG
{
	background: url(Images/bg-footer.jpg) repeat-x bottom center; 
	width: 100%;
	height: 105px;
	position: relative;
	bottom: 125px;
	z-index: -1;

}
.side-by-side a
{
		padding: 8px;
		background-color: #faf4e8;
		text-decoration: none;

}
.side-by-side a:hover
{
	 background-color: #1e3347;
	 color: #F2FFFF
}
.Footer-Left
{
	margin: 8px;
}
.Footer-Left a
{
		color:#887700;
		text-decoration: none;
}
.Footer-Left a:hover
{
		background-color: #1e3347;
}

.Footer-Right
{
	margin: 8px;
	color: #988878;
}
.Footer-Center
{
	padding: 8px;
}