body
{ 
	background: white;
}

fieldset 
{
	background-color : #DDF1F6;
}

#Container
{
	border-width: 3px;
	border-color: #951265;
	border-style: solid;
}

#Header
{
	background-image: url(Images/Header.jpg);
}

#Menu
{
	background-image: url(Images/Menu.jpg);
}

#Main
{
	background-color: white;
}

#Footer
{
	background-image: url(Images/Footer.jpg);
	height: 41px;

}

#FooterIMG
{
	display:none;
}
.Footer-Left
{
	margin: 8px;
}

.Footer-Right
{
	margin: 8px;
}
.Footer-Center
{
	padding: 8px;
}

